.footer-index
  background: #f0f0f0
  position: fixed
  bottom: 0
  width: 100%
  .footer-index-inner
    width: 1024px
    height: 90px
    margin: 0 auto
    display: flex
    justify-content: space-around
    align-items: center

    .footer-left
      div
        margin-bottom: 3px
        font-size: 12px
      a
        text-decoration: none
        color: #666
        &:hover
          color: #333
    .footer-middle
      display: flex
      justify-content: center
      div
        margin-left: 40px
      &:first-child
        margin-left: 0
      a
        i
          display: inline-block
          width: 35px
          height: 35px
          background-size: 35px 35px
          background-repeat: no-repeat
        i.footer-icon1
          background-image: url("/img/index/footer/twitter_gray_icon.png")
          &:hover
            background-image: url("/img/index/footer/twitter_green_icon.png")
        i.footer-icon2
          background-image: url("/img/index/footer/reddit_gray_icon.png")
          &:hover
            background-image: url("/img/index/footer/reddit_green_icon.png")
        i.footer-icon3
          background-image: url("/img/index/footer/telegram_gray_icon.png")
          &:hover
            background-image: url("/img/index/footer/telegram_green_icon.png")
        i.footer-icon4
          background-image: url("/img/index/footer/steemit_gray_icon.png")
          &:hover
            background-image: url("/img/index/footer/steemit_green_icon.png")
        i.footer-icon5
          background-image: url("/img/index/footer/github_gray_icon.png")
          &:hover
            background-image: url("/img/index/footer/github_green_icon.png")
        i.footer-icon6
          background-image: url("/img/index/footer/facebook_gray_icon.png")
          &:hover
            background-image: url("/img/index/footer/facebook_green_icon.png")
        i.footer-icon7
          background-image: url("/img/index/footer/slack_gray_icon.png")
          &:hover
            background-image: url("/img/index/footer/slack_green_icon.png")
        i.footer-icon8
          background-image: url("/img/index/footer/gitter_gray_icon.png")
          &:hover
            background-image: url("/img/index/footer/gitter_green_icon.png")
