header-padding-normal = 10px
header-padding-max = 30px
logo-size = 50px

#header
  position: relative
  padding: header-padding-normal 0
  background:#fff
  @media print
    display: none

#header-inner
  display: flex
  flex-flow: row nowrap
  align-items: center
  padding:0
  @media mq-mobile
    justify-content: center

#logo-wrap
  flex: 0 logo-size

#logo
  hide-text()
  background: url("/logo.svg")
  width: 50px
  height: 50px
  background-size: 50px 50px
  display: block

#main-nav
  display: none
  flex: 1 auto
  @media mq-normal
    display: block

.main-nav-link
  color: #333
  text-decoration: none
  line-height: logo-size
  transition: 0.2s
  font-family: font-title
  display: inline-block
  padding: 0 24px
  &:hover
    color: color-link

.main-nav-link:nth-child(7),.main-nav-link:nth-child(7)
  display:none

#search-input-wrap
  display: none
  padding-left: 6px
  padding-bottom: 8px
  border-bottom: 1px solid color-gray
  &.on
    display: inline-block

#search-input-icon
  color: #fff
  padding-right: 0.5em
  display: inline-block

#search-input
  background: none
  font-size: inherit
  font-family: font-title
  color: #fff
  outline: none
  -webkit-appearance: none

#lang-select-wrap
  display: none
  position: relative
  @media mq-normal
    display: block

#lang-select-label
  color: #333
  font-family: font-title
  line-height: logo-size
  span
    padding-left: 8px

#lang-select
  opacity: 0
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  -webkit-appearance: menulist-button
  font-size: inherit
