#sidebar
  width: sidebar-width
  float: left
  padding-bottom: 40px
  margin-left: sidebar-width * -1
  display: none
  @media mq-normal
    display: block

.sidebar-title
  margin-top: 40px
  padding-top: 18px
  font-family: font-title
  font-weight: lighter
  color: color-link
  display: inline-block
  border-top: 1px solid color-border
  line-height: 1
  font-size:18px

.sidebar-link
  font-family: font-title
  display: block
  color: color-default
  text-decoration: none
  padding-top: 16px
  line-height: 1
  position: relative
  width: 100%
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap
  font-size: 16px
  &.current
    color: color-link
  &:hover
    color: color-link-hover