layout: index
description: Hexo is a fast, simple & powerful blog framework powered by Node.js.
subtitle: A fast, simple & powerful blog framework
comments: false
---
#content-index
  .inner-index
    .flexible-outer
      .flexible-inner
        .text
          .text1 The most flexible
          .text2 blockchain infrastructure.
          .text3 NULS is a global blockchain open-source project which has a highly customizable modular blockchain infrastructure; it consists of a microkernel and functional modules. NULS provides smart contract, multi-chain mechanism and cross-chain consensus. It aims to break the technical barriers of blockchain, to reduce the cost of development and to promote the usage of blockchain technology in the commercial field.
    .features
      .title.title-common Features Introduced
      .line
      .bg-img
        .bg-text1.bg-text
          p Modular architecture
          p adaptability sustainable improvement
        .bg-text2.bg-text
          p POC (Proof-Of-Credit)
          p consensus
        .bg-text3.bg-text
          p Multi-chain mechanism
          p
        .bg-text4.bg-text
          p Smart Contract
          p logic container
        img(src="../img/index/main/tech_introduction_icon.png")
    .modular
      .title.title-common Modular
      .line
      .bg-img
        img(src="../img/index/main/modular_icon.png")
        .text
          p The design of NULS follows the principle of “everything is a module”, using Modularization to support the advancement of techniques and App adaptation. NULS uses microkernel to manage all the modules and they interact through the Event Bus and Service Bus.
          p NULS developers are able to understand and use the modules based on the instruction book without knowing details of the modules.
    .contract
      .title.title-common Smart Contract
      .line
      .bg-img
        .text
          p NULS Smart Contract Module has the name of NVM (NULS Virtual Machine) and supports Intelligent Assets Issuing and Circulation.
          p NULS Smart Contract follows JVM and developers can use Java-based languages (e.g. Java, Groovy, JRudy, Jython, Clojure, Clojure, Kotlin, Rhino, Ceylon) to develop Smart Contract.
        img(src="../img/index/main/smart contract_icon.png")
    .chain
      .title.title-common Parallel Multi-Chains
      .line
      .bg-img-chain
        .text
          p NULS has multi-chains facilities which include NULS Main Blockchains, Asset Blockchains, Application Blockchains, Audit Blockchains and Sibling Blockchains.
          p  Asset Blockchains are the Economic Center of NULS Environment and all tokens in the Environment will make cross-chain transportation and commutation there.
          p Application Blockchains hold the Dapp and Intelligent Assets.
          p Audit Blockchains provide the service of Public Data Audition for Private Blockchain and Consortium Blockchains.
          p Sibling Blockchains are new independent blockchains created by Community Developers using NULS Module Warehouse. They have the ability to transport and commute assets with other NULS Blockchains by default.
        img(src="../img/index/main/Parallel Multi-Chains_icon.png")
