layout: index
description: Hexo is a fast, simple & powerful blog framework powered by Node.js.
subtitle: 快速、简洁且高效的博客框架
comments: false
---
#content-index
  .inner-index
    .flexible-outer
      .flexible-inner
        .text
          .text1 最灵活的区块链基础设施
          .text2
          .text3 NULS是一个可定制的区块链基础设施，是全球性区块链开源社区项目。NULS 由微内核和功能模块组成，以弱化主链的全新思维，通过事件和服务的剥离，实现高度模块化的底层架构，提供智能合约、多链并行、跨链共识等运行机制，降低开发和使用的成本，推动区块链商业应用进程。
    .features
      .title.title-common 功能介绍
      .line(style="margin-left:375px")
      .bg-img
        .bg-text1.bg-text
          p 模板架构
          p 适用不断升级
        .bg-text2.bg-text
          p 信用证明
          p 共识
        .bg-text3.bg-text
          p 多链机制
          p
        .bg-text4.bg-text
          p 智能合约
          p 逻辑容器
        img(src="../img/index/main/tech_introduction_icon.png")
    .modular
      .title.title-common 模块化
      .line(style="margin-left:50px")
      .bg-img
        img(src="../img/index/main/modular_chinese_icon.png")
        .text
          p NULS 设计遵循“一切皆为模块”的原则，用模块化支持技术更新和应用适配。Nuls使用微内核管理所有模块，模块间通过事件总线和服务总线交互。
          p NULS开发者可以通过模块说明书理解和使用模块，不用关心模块的细节。
    .contract
      .title.title-common 智能合约
      .line(style="margin-left:375px")
      .bg-img
        .text
          p NULS智能合约模块名为NVM（Nuls Virtual Machine）,支持智能资产发行和流通。
          p Nuls智能合约基于JVM，开发者可以使用基于Java的开发语言(如：Java、 Groovy、JRudy、Jython、Clojure、Clojure、Kotlin、Rhino、Ceylon)开发智能合约。
        img(src="../img/index/main/smart contract_icon.png")
    .chain
      .title.title-common 多链并行
      .line(style="margin-left:520px")
      .bg-img-chain
        .text
          p Nuls是一套多链基础设施，包含Nuls主链、资产链、应用链、审计链、兄弟链。
          p 资产链是Nuls生态的经济中心，Nuls生态所有token将在这里实现跨链传输和交换；
          p 应用链承载Dapp和智能资产；
          p 审计链为私有链和联盟链提供数据公开审计服务；
          p 兄弟链由社区开发者使用Nuls模块仓库搭建新的独立区块链，兄弟链将自带与Nuls其他链资产跨链传输和交换的功能；
        img(src="../img/index/main/Parallel Multi-Chains_chinese_icon.png")